@mixin font($font_size, $line_height, $font_family: sans-serif) {
  font: #{$font_size/$base_font_size}rem/#{$line_height/$base_font_size}rem
    $font_family;
}

@mixin background(
  $url,
  $size: cover,
  $top: top,
  $left: left,
  $color: transparent,
  $repeat: no-repeat
) {
  background-image: $url;
  background-position: $top $left;
  background-size: $size;
  background-color: $color;
  background-repeat: $repeat;
}

@mixin respond-to($media) {
  // 320 +
  @if $media == mobile_plus {
    @media only screen and (min-width: $mobile-portrait) {
      @content;
    }
  }
  // 320 - 479
  @if $media == mobile_portrait {
    @media only screen and (min-width: $mobile-portrait) and (max-width: $mobile-landscape - 1) {
      @content;
    }
  }
  // 480 - 767
  @if $media == mobile_landscape {
    @media only screen and (min-width: $mobile-landscape) and (max-width: $tablet-portrait - 1) {
      @content;
    }
  }
  // 320 - 767
  @if $media == mobile {
    @media only screen and (min-width: $mobile-portrait) and (max-width: $tablet-portrait - 1) {
      @content;
    }
  }
  // 768 - 1279
  @else if $media == tablet {
    @media only screen and (min-width: $tablet-portrait) and (max-width: $tablet-landscape - 1) {
      @content;
    }
  }
  // 991 -
  @else if $media == tablet_minus {
    @media only screen and (max-width: $tablet-plus - 1) {
      @content;
    }
  }
  // 1279 -
  @else if $media == desktop_minus {
    @media only screen and (max-width: $tablet-landscape - 1) {
      @content;
    }
  }
  // 1439 -
  @else if $media == desktop {
    @media only screen and (max-width: $desktop - 1) {
      @content;
    }
  }
  // 1599 -
  @else if $media == desktop_extra {
    @media only screen and (max-width: $desktop-extra - 1) {
      @content;
    }
  }
}
