@font-face {
  font-family: "cambriaz";
  src: url("cambriaz.eot");
  src: url("cambriaz.eot?#iefix") format("embedded-opentype"),
       url("cambriaz.ttf") format("truetype"),
       url("cambriaz.woff") format("woff"),
       url("cambriaz.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
